@import url(https://fonts.googleapis.com/css?family=Raleway:200);

input[type = "text"], input[type = "password"], input[type = "date"]{
	width: 300px;
	height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
	margin-top: 7px;
	border: 1px solid black;
    border-radius: 4px;
}
input.enter{
	width: 300px;
	height: 50px;
	margin-top: 7px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid;
}
body{
    height: 500px;
	background: url(images/background.jpg) no-repeat fixed center;
}
label{
	/*#528CCF*/
	color:black;
	float: left;
	font-size:23px
}

nav {
	width: 960px;
	margin: 0 auto;
}

nav:before{
	content: '';
	display:block;
	height:50px;
	width:100%;
	background-color: #000;
	position: absolute;
	z-index:-1;
	left:0;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
	height:50px;
}

ul li{
	float: left;
}
ul form{
	float: right;
}

ul li a{
	color:#fff;
	display:block;
	height:50px;
	padding: 0 20px;
	text-transform:uppercase;
	text-decoration:none;
	line-height: 50px;
}

ul li a:hover{
	background-color: blue;
}
/*submenu*/

li ul{
	position: absolute;
	display: none;
	min-width: 150px;
}

li>ul li{
	border: 1px solid black;
}

li>ul li:hover{
    background-color: black;
}

li:hover >ul{
	display: block;
	background-color: blue;
}

/*submenu*/

.login{
    width: 400px;
    height: 450px;
    background: bisque;
    margin: 250px auto 0 auto;
    text-align: center;
    border-radius: 15px;
}

.profile{
    width: 600px;
    height: auto;
    background: bisque;
    margin: 250px auto 0 auto;
    text-align: center;
    border-radius: 15px;
    opacity: 0.8;
}

.login img{
    border: 5px solid black;
    border-radius: 50%;
    background-color: white;
}

.usersAdminPage{
	width: 300px;
	height: auto;
	background: bisque;
	margin: 250px auto 0 auto;
	text-align: center;
	border-radius: 15px;
}

.delete {
	width: 150px;
	height: 30px;
	margin-top: 20px;
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid;
}
span{
	font-size: 20px;
}
span.currency{
	color: white;
}
.addGame{
	width: 600px;
	height: auto;
	background: bisque;
	margin: 250px auto 0 auto;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 32px;
	border-style: solid;
}

.addGame > div{
	width: 250px;
	height: 250px;
	margin: 100px auto 0 auto;
	text-align: center;
	border-radius: 15px;
	background: black;
}
.friend{
	width: 300px;
	height:auto;
	background: bisque;
	margin: 250px auto 0 auto;
	text-align: center;
	border-radius: 15px;
	border-style: solid;
}
input.engEU{
	background: url(/images/flag_united_kingdom.png) ;
	cursor:pointer;
	width: 48px;
	height: 48px;
	border: none;
}
input.ruEU{
	background: url(/images/flag_russia.png);
	cursor:pointer;
	width: 48px;
	height: 48px;
	border: none;
}

/*пагинация*/
.center {
	text-align: center;
}

.pagination {
	display: inline-block;

}

.pagination a {
	color: white;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	background: black;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: blue;
	color: black;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: blue;}
/*пагинация*/

/*всплывающее окно*/
.note {
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	background: green;
	text-align: center;
	line-height: 2.5;
	overflow: hidden;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow:    0 0 5px black;
	box-shadow:         0 0 5px black;
	-webkit-transform: translateY(-50px);
	-webkit-animation: slideDown 2.5s  1 ease forwards;
	-moz-transform:    translateY(-50px);
	-moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
.note#error{
	background: red;
}


@-webkit-keyframes slideDown {
	0%, 100% { -webkit-transform: translateY(-50px); }
	10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
	0%, 100% { -moz-transform: translateY(-50px); }
	10%, 90% { -moz-transform: translateY(0px); }
}
/*всплывающее окно*/
/*страница попнения баланса*/
#box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 200px;
	color: white;
	margin: 250px auto 0 auto;

	font-size: 2.5rem;
}
.gradient-border {
	--borderWidth: 3px;
	background: #1D1F20;
	position: relative;
	border-radius: var(--borderWidth);
}
.gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*страница попнения баланса*/
/*корзина*/
.shopping-cart {
	width: 750px;
	height: 423px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	background: bisque;
	margin: 250px auto 0 auto;
}
.title {
	height: 60px;
	border-bottom: 1px solid #E1E8EE;
	padding: 20px 30px;
	color: #5E6977;
	font-size: 18px;
	font-weight: 400;
}

.item {
	padding: 20px 30px;
	height: 120px;
	display: flex;
}

.item:nth-child(3) {
	border-top:  1px solid #E1E8EE;
	border-bottom:  1px solid #E1E8EE;
}
.buttons {
	position: relative;
	padding-top: 30px;
	margin-right: 60px;
}
.delete-btn{
	display: inline-block;
	Cursor: pointer;
}
.delete-btn {
	width: 18px;
	height: 17px;
	background: url("delete-icn.svg") no-repeat center;
}
.image {
	margin-right: 50px;
}
.description {
	padding-top: 10px;
	margin-right: 60px;
	width: 115px;
}

.description span {
	display: block;
	font-size: 14px;
	color: #43484D;
	font-weight: 400;
}

.description span:first-child {
	margin-bottom: 5px;
}
.description span:last-child {
	font-weight: 300;
	margin-top: 8px;
	color: #86939E;
}
.total-price {
	width: 83px;
	padding-top: 27px;
	text-align: center;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
}
/**адаптивность*/
@media (max-width: 800px) {
	.shopping-cart {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: 250px auto 0 auto;
		background: bisque;
	}
	.item {
		height: auto;
		flex-wrap: wrap;
		justify-content: center;
	}
	.image img {
		width: 50%;
	}
	.image,
	.description {
		width: 100%;
		text-align: center;
		margin: 6px 0;
	}
	.buttons {
		margin-right: 20px;
	}
}
/*корзина*/